---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';


const allPosts = await Astro.glob('@/pages/blog/*.md')
import './utils.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1><span class="text-gradient">TikTok Trand Resacher</span></h1>
		<ul role="list" class="link-card-grid">
			{allPosts.map((post) => {
				if (!post.url) return;
				return (
						<Card title={post.frontmatter.title} href={post.url} body={post.frontmatter.description} imageUrl={post.frontmatter.image?.url} pubDate={post.frontmatter?.pubDate} />
				)
			})}
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
